
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.div-1 {
    width: 766px;
    height: 100vh;
    background: red;
    transition: 1s;
}

.div-1:hover, .div-2:hover {
    transition: 1s;
}

.div-2 {
    width: 770px;
    height: 100vh;
    background: blue;
    transition: 1s;
}


